@font-face {
  font-family: 'PFDasGroteskProRegular';
  src: url('../fonts/PFDasGroteskProRegular.eot');
  src: url('../fonts/PFDasGroteskProRegular.eot') format('embedded-opentype'), url('../fonts/PFDasGroteskProRegular.woff2') format('woff2'), url('../fonts/PFDasGroteskProRegular.woff') format('woff'), url('../fonts/PFDasGroteskProRegular.ttf') format('truetype'), url('../fonts/PFDasGroteskProRegular.svg#PFDasGroteskProRegular') format('svg');
}
@font-face {
  font-family: 'PFDasGroteskProMedium';
  src: url('../fonts/PFDasGroteskProMedium.eot');
  src: url('../fonts/PFDasGroteskProMedium.eot') format('embedded-opentype'), url('../fonts/PFDasGroteskProMedium.woff2') format('woff2'), url('../fonts/PFDasGroteskProMedium.woff') format('woff'), url('../fonts/PFDasGroteskProMedium.ttf') format('truetype'), url('../fonts/PFDasGroteskProMedium.svg#PFDasGroteskProMedium') format('svg');
}
@font-face {
  font-family: 'PFDasGroteskProBold';
  src: url('../fonts/PFDasGroteskProBold.eot');
  src: url('../fonts/PFDasGroteskProBold.eot') format('embedded-opentype'), url('../fonts/PFDasGroteskProBold.woff2') format('woff2'), url('../fonts/PFDasGroteskProBold.woff') format('woff'), url('../fonts/PFDasGroteskProBold.ttf') format('truetype'), url('../fonts/PFDasGroteskProBold.svg#PFDasGroteskProBold') format('svg');
}
body {
  font-family: Verdana, sans-serif;
}
a {
  text-decoration: none;
}
.centering {
  width: 100%;
  min-width: 960px;
}
.clear {
  clear: both;
}
/********* Sprite icons *********/

.main-sprite {
  background-image: url(../images/sprite_main.png);
  background-repeat: no-repeat;
  display: block;
}
.tel-icon {
  width: 17px;
  height: 17px;
  background-position: -5px -833px;
}
.house-icon {
  width: 17px;
  height: 18px;
  background-image: url(../images/test2.png);
}
.icon-1 {
  width: 64px;
  height: 64px;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 18px;
  background-position: -5px -33px;
}
.icon-2 {
  width: 64px;
  height: 64px;
  background-position: -5px -234px;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 18px;
}
.icon-3 {
  width: 64px;
  height: 64px;
  background-position: -5px -308px;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 18px;
}
.icon-4 {
  width: 64px;
  height: 64px;
  background-position: -5px -382px;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 18px;
}
.icon-5 {
  width: 70px;
  height: 66px;
  background-position: -5px -456px;
}
.icon-6 {
  width: 68px;
  height: 65px;
  background-position: -5px -532px;
}
.icon-7 {
  width: 65px;
  height: 65px;
  background-position: -5px -607px;
}
.icon-8 {
  width: 65px;
  height: 65px;
  background-position: -5px -682px;
}
.icon-9 {
  width: 64px;
  height: 66px;
  background-position: -5px -757px;
}
.icon-10 {
  width: 66px;
  height: 47px;
  background-position: -5px -107px;
}
.icon-11 {
  width: 66px;
  height: 60px;
  background-position: -5px -164px;
}
/****** second sprite *************/

.con_sprite {
  background-image: url(../images/con_sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
}
.adr-house {
  width: 17px;
  height: 17px;
  background-position: -5px -31px;
}
.post-icon {
  width: 16px;
  height: 13px;
  background-position: -5px -58px;
}
.gps-icon {
  width: 13px;
  height: 16px;
  background-position: -5px -5px;
}
.adr-tel {
  width: 17px;
  height: 16px;
  background-position: -5px -81px;
}
/********* advice sprite *************/

.advice_sprite {
  background-image: url(../images/advice_sprite.png);
  background-repeat: no-repeat;
  display: block;
}
.adv-icon-1 {
  width: 78px;
  height: 81px;
  background-position: -5px -5px;
}
.adv-icon-2 {
  width: 78px;
  height: 78px;
  background-position: -5px -96px;
}
.adv-icon-3 {
  width: 63px;
  height: 87px;
  background-position: -5px -184px;
}
.adv-icon-4 {
  width: 78px;
  height: 60px;
  background-position: -5px -281px;
}
.adv-icon-5 {
  width: 79px;
  height: 87px;
  background-position: -5px -351px;
}
.adv-icon-6 {
  width: 78px;
  height: 53px;
  background-position: -5px -448px;
}
/********* adv_sprite_2 *************/

.advice_sprite_2 {
  background-image: url(../images/advice_sprite_2.png);
  background-repeat: no-repeat;
  display: block;
}
.bank-icon {
  width: 79px;
  height: 79px;
  background-position: -5px -94px;
}
.high-build-icon {
  width: 79px;
  height: 75px;
  background-position: -5px -183px;
}
.antimon-icon {
  width: 79px;
  height: 79px;
  background-position: -5px -5px;
}
.purse-icon {
  width: 79px;
  height: 75px;
  background-position: -5px -268px;
}
/*********  end sprite icons *********/

.link {
  display: block;
  height: 45px;
  text-align: center;
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 14px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #f6ac34;
  background: -moz-linear-gradient(top, #f6ac34 0%, #f9b921 37%, #fcc414 73%, #ffd003 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6ac34), color-stop(37%, #f9b921), color-stop(73%, #fcc414), color-stop(100%, #ffd003));
  background: -webkit-linear-gradient(top, #f6ac34 0%, #f9b921 37%, #fcc414 73%, #ffd003 100%);
  background: -o-linear-gradient(top, #f6ac34 0%, #f9b921 37%, #fcc414 73%, #ffd003 100%);
  background: -ms-linear-gradient(top, #f6ac34 0%, #f9b921 37%, #fcc414 73%, #ffd003 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6ac34', endColorstr='#ffd003', GradientType=0);
}
.container {
  width: 960px;
  margin: auto;
}
.top-panel {
  width: 100%;
  min-width: 960px;
  height: 110px;
  background: #f0f0f0;
  background: -moz-linear-gradient(top, #f0f0f0 0%, #fcfcfd 37%, #fdfdfd 53%, white 72%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(37%, #fcfcfd), color-stop(53%, #fdfdfd), color-stop(72%, white), color-stop(100%, white));
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #fcfcfd 37%, #fdfdfd 53%, white 72%, white 100%);
  background: -o-linear-gradient(top, #f0f0f0 0%, #fcfcfd 37%, #fdfdfd 53%, white 72%, white 100%);
  background: -ms-linear-gradient(top, #f0f0f0 0%, #fcfcfd 37%, #fdfdfd 53%, white 72%, white 100%);
  background: linear-gradient(to bottom, #f0f0f0 0%, #fcfcfd 37%, #fdfdfd 53%, white 72%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ffffff', GradientType=0);
}
.logo {
  float: left;
  margin-top: 30px;
}
.logo h2 {
  font-size: 28px;
  text-transform: uppercase;
  color: #22313f;
  font-family: 'PFDasGroteskProMedium';
}
.logo p {
  font-size: 18px;
  color: #5b6874;
  font-family: 'PFDasGroteskProRegular';
}
.logo img {
  float: left;
}
.logo .logo-text {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
}
.contacts {
  float: right;
  width: 210px;
  margin-top: 22px;
  line-height: 1.3;
}
.contacts .telephone span:last-child {
  font-size: 24px;
  font-family: 'PFDasGroteskProMedium';
}
.contacts .telephone span:first-child {
  float: left;
  position: relative;
  top: 6px;
  margin-right: 5px;
}
.contacts .adress {
  font-size: 12px;
  font-family: Verdana, sans-serif;
  float: right;
}
.contacts .get-call {
  display: inline-block;
  font-size: 12px;
  font-family: Verdana, sans-serif;
  color: #d35400;
  padding-bottom: 1px;
  border-bottom: 1px dashed #d35400;
  float: right;
  margin-top: 5px;
}
nav {
  width: 100%;
  min-width: 960px;
  background-color: #662028;
  height: 55px;
}
nav span:first-child {
  float: left;
  margin-right: 10px;
  position: relative;
  top: 20px;
}
nav ul {
  float: left;
}
nav ul li {
  float: left;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
nav ul li:hover {
  border-bottom: 2px solid #9a434c;
  background-color: #762a32;
  background-image: none;
}
nav ul li:hover + li a {
  background-image: none;
}
nav ul li a {
  color: #ecf0f1;
  height: 53px;
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 22px 10px 0 10px;
  border-bottom: 2px solid transparent;
  background-image: url(../images/border.png);
  background-repeat: no-repeat;
  background-position: 1px 15px;
}
nav ul li.active {
  border-bottom: 2px solid #9a434c;
  background-color: #762a32;
}
nav ul li.active + li a {
  background-image: none;
}
.screen {
  width: 100%;
  min-width: 960px;
  background: url(../images/screen.jpg) no-repeat;
  background-size: cover;
  background-position: left center;
}
.screen .container {
  position: relative;
  height: 600px;
  padding-top: 115px;
}
.screen header {
  text-align: center;
}
.screen header h1 {
  text-transform: uppercase;
  font-size: 54px;
  font-family: 'PFDasGroteskProMedium';
}
.screen header h1:after {
  content: "";
  display: block;
  width: 580px;
  border-bottom: 3px solid #662028;
  margin: 25px auto;
}
.screen header p {
  font-size: 23px;
  font-family: 'PFDasGroteskProRegular';
}
.screen section {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 20px;
}
.screen section .info {
  float: left;
  width: 25%;
  height: 190px;
  border-right: 1px solid #dcdbdb;
  text-align: center;
}
.screen section .info:last-child {
  border-right: 0;
}
.screen section .info p {
  font-size: 13px;
  color: white;
  line-height: 1.5;
}
.screen section .info a {
  color: #ffd200;
  font-size: 13px;
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px dashed #ffd200;
}
.services {
  width: 100%;
  min-width: 960px;
  height: 1520px;
  background: url(../images/service.jpg) no-repeat;
  background-size: cover;
  background-position: left center;
}
.services header {
  margin-left: -10px;
  padding-top: 35px;
}
.services header:after {
  content: "";
  display: block;
  width: 580px;
  border-bottom: 3px solid #662028;
  margin: 45px auto;
}
.services section {
  margin-left: -10px;
}
.services section .services-block {
  margin-bottom: 20px;
}
.services section .link {
  width: 165px;
  margin: auto;
  margin-top: 15px;
}
.services .services-block {
  width: 475px;
  height: 332px;
  background: url(../images/serv.jpg);
  float: left;
  margin-left: 10px;
  text-align: center;
  padding-top: 30px;
  color: #fafafa;
}
.services .services-block h5 {
  font-size: 15px;
  text-transform: uppercase;
}
.services .services-block h5:after {
  content: "";
  display: block;
  margin: 10px auto;
  width: 190px;
  border-bottom: 1px solid #864646;
}
.services .services-block .desc {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.3;
}
.services .services-block .main-sprite {
  margin: auto;
  margin-bottom: 25px;
}
.services .center-block {
  float: none;
  margin: auto;
}
.faces {
  width: 100%;
  min-width: 960px;
  background-color: #f8f8f8;
  padding-top: 50px;
  padding-bottom: 35px;
}
.faces h2 {
  text-transform: uppercase;
  color: #662028;
  font-family: 'PFDasGroteskProMedium';
  text-align: center;
  font-size: 34px;
}
.faces .people {
  width: 890px;
  margin: auto;
  margin-top: 45px;
}
.faces .people .people-block {
  width: 290px;
  height: 413px;
  float: left;
  background: url(../images/faces.jpg);
  margin-right: 10px;
  padding-top: 35px;
  text-align: center;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 1.2;
  position: relative;
}
.faces .people .people-block:last-child {
  margin-right: 0;
}
.faces .people .people-block h5 {
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 15px;
}
.faces .people .people-block .connector-top {
  width: 44px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: -26px;
  z-index: 2;
  background: url(../images/connector.png);
}
.faces .people .people-block .connector-bottom {
  width: 44px;
  height: 24px;
  position: absolute;
  bottom: 10px;
  right: -26px;
  z-index: 2;
  background: url(../images/connector.png);
}
.faces section {
  width: 750px;
  margin: auto;
  margin-top: 45px;
}
.faces section h3 {
  text-transform: uppercase;
  color: #662028;
  font-size: 22px;
  text-align: center;
  font-family: 'PFDasGroteskProMedium';
}
.faces section p {
  float: right;
  margin-top: 10px;
  color: #22313f;
  font-size: 12px;
}
.callus {
  width: 100%;
  min-width: 960px;
  padding: 50px 0;
  border-top: 1px solid #e6e8e8;
  border-bottom: 1px solid #e6e8e8;
}
.callus .callus-block {
  width: 700px;
  margin: auto;
}
.callus .callus-block p {
  font-size: 26px;
  color: #22313f;
  float: left;
  position: relative;
  top: 10px;
}
.callus .callus-block p span {
  color: #61676d;
}
.callus .callus-block .link {
  float: right;
  width: 265px;
}
.text {
  width: 100%;
  min-width: 960px;
  padding: 35px 0;
  background-color: #f8fafa;
}
.text .container {
  position: relative;
}
.text .girl {
  position: absolute;
  width: 352px;
  height: 492px;
  background: url(../images/girl.png);
  bottom: -35px;
  right: -110px;
}
.text h3 {
  text-transform: uppercase;
  font-size: 29px;
  color: #662028;
  font-family: 'PFDasGroteskProMedium';
  text-align: center;
  margin-bottom: 40px;
}
.text ul {
  float: left;
  width: 370px;
  border-right: 1px solid #d7d7d7;
  padding-right: 20px;
  font-family: Arial, sans-serif;
}
.text ul li {
  position: relative;
  padding-left: 12px;
}
.text ul li a:first-child {
  font-size: 13px;
  color: #22313f;
  display: block;
  line-height: 1.2;
}
.text ul li a:hover {
  text-decoration: underline;
  color: #ff3600;
}
.text ul li .read-more {
  float: right;
  font-size: 13px;
  color: #d35400;
  margin: 20px 0;
}
.text ul li:before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 9px;
  left: 0;
  top: 3px;
  background: url(../images/text-list.png);
}
.text .right-text-list {
  padding-left: 20px;
  border-right: 0;
}
.contact {
  width: 100%;
  min-width: 960px;
  padding: 35px 0;
  border-top: 1px solid #e6e8e8;
  border-bottom: 1px solid #e6e8e8;
}
.contact h3 {
  text-transform: uppercase;
  font-size: 29px;
  color: #662028;
  font-family: 'PFDasGroteskProMedium';
  text-align: center;
  margin-bottom: 20px;
}
.contact .con-block {
  width: 930px;
  margin: auto;
}
.contact .con-info {
  float: left;
  font-family: 'PFDasGroteskProRegular';
}
.contact .con-info header {
  padding-top: 30px;
  color: #171717;
}
.contact .con-info header h4 {
  text-transform: uppercase;
  font-size: 21px;
}
.contact .con-info header p {
  font-size: 16px;
}
.contact .con-info section {
  margin-top: 25px;
}
.contact .con-info section li {
  font-size: 16px;
  margin-bottom: 12px;
}
.contact .con-info section li a {
  text-decoration: underline;
  color: #d35400;
}
.contact .con-info section li a:hover {
  color: #ff3600;
}
.contact .con-info section li span {
  color: #22313f;
  display: inline-block;
  margin-right: 15px;
}
.contact .con-info section li .adr-house {
  position: relative;
  top: 3px;
}
.contact .con-info section li .post-icon {
  position: relative;
  top: 2px;
}
.contact .con-info section li .gps-icon {
  position: relative;
  top: 2px;
}
.contact .con-info section li .adr-tel {
  position: relative;
  top: 2px;
}
.contact .banner {
  width: 595px;
  height: 265px;
  float: right;
  background-color: #fff2ab;
}
footer {
  width: 100%;
  min-width: 960px;
  padding: 25px 0;
  background-color: #f8fafa;
  font-size: 14px;
}
footer .foot-left {
  float: left;
}
footer .foot-left p {
  color: #22313f;
}
footer .foot-left ul {
  margin-top: 10px;
}
footer .foot-left ul li {
  float: left;
}
footer .foot-left ul li a {
  color: #d35400;
}
footer .foot-left ul li a:hover {
  color: #ff3600;
}
footer .foot-left ul li a span {
  color: #22313f;
}
footer .foot-right {
  float: right;
}
footer .foot-right p {
  color: #22313f;
}
footer .copyright {
  text-align: center;
  color: #22313f;
  font-size: 14px;
  line-height: 1.3;
}
footer .copyright a {
  color: #d35400;
}
footer .copyright a:hover {
  color: #ff3600;
  text-decoration: underline;
}
.screen-1 .container {
  padding-top: 80px;
  position: relative;
  height: 475px;
}
.screen-1 .link {
  position: absolute;
  width: 370px;
  bottom: 65px;
  left: 50%;
  margin-left: -185px;
}
.screen-1 header h1 {
  text-shadow: 0px 0px 6px #f0eadc;
  line-height: 1.2;
}
.screen-1 header h1:after {
  margin: 30px auto;
}
.screen-1 header p {
  text-shadow: 0px 0px 8px white;
  line-height: 1.2;
}
.advice {
  width: 100%;
  min-width: 960px;
  background-color: #f8fafa;
  padding: 60px 0;
}
.advice h2 {
  text-transform: uppercase;
  color: #662028;
  font-size: 34px;
  text-align: center;
  font-family: 'PFDasGroteskProMedium';
  margin-bottom: 45px;
}
.advice .advice-list {
  width: 890px;
  margin: auto;
}
.advice .advice-list ul .li-block {
  width: 890px;
  height: 135px;
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid #d2d2d2;
}
.advice .advice-list ul .li-block .advice_sprite {
  float: left;
  margin: 0 25px;
}
.advice .advice-list ul .li-block .advice_sprite_2 {
  float: left;
  margin: 0 25px;
}
.advice .advice-list ul .li-block .adv-icon-4 {
  position: relative;
  top: 8px;
}
.advice .advice-list ul .li-block .adv-icon-6 {
  position: relative;
  top: 12px;
}
.advice .advice-list ul .li-block .advice-desc {
  display: table-cell;
  vertical-align: middle;
  height: 80px;
  width: 675px;
}
.advice .advice-list ul .li-block .advice-desc h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'PFDasGroteskProMedium';
  color: black;
}
.advice .advice-list ul .li-block .advice-desc p {
  color: #22313f;
  font-size: 18px;
  font-family: "PFDasGroteskProRegular";
  line-height: 1.2;
  margin-top: 7px;
}
.advice .advice-list ul li:nth-child(odd) {
  background-color: white;
}
.advice .adv-text {
  font-size: 21px;
  text-align: center;
  color: #662028;
  font-family: 'PFDasGroteskProRegular';
  margin-top: 45px;
}
.advice-2 {
  padding-bottom: 45px;
}
